.header {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.txHashAndNonce {
  display: flex;
  gap: 24px;
}

.txHash {
  min-width: 151px; // matching modal heading width to align nonce with it

  display: flex;
  align-items: center;
  gap: 8px;

  line-height: 140%;
  color: #f6f6f6e5;

  a {
    text-decoration: underline;
  }
}

.nonce {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 11px;
  color: #9cacb1;

  button {
    width: 12px;
    height: 12px;
  }
}

.date {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #9cacb1;
}

.pairs {
  margin-bottom: 24px;
  padding-bottom: 24px;

  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  align-items: center;
  gap: 20px 24px;

  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15px 1fr;
    justify-items: center;
    gap: 8px;
  }

  &.loading {
    padding-bottom: 0;
  }
}

.tx,
.address {
  display: flex;
  align-items: center;

  gap: 10px;
}

.address {
  overflow: hidden;
}

.amount,
.network,
.address .value {
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.label {
  color: #f6f6f6cc;
}

.network {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.arrowSvg {
  path {
    fill: #fff;
  }
}
