.status {
  margin-bottom: 4px;
  padding: 2px 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 12px;
  font-weight: 600;
  line-height: 150%;

  border-radius: 4px;
}

.Completed {
  color: #13bc9d;

  background-color: rgba(14, 211, 163, 0.07);
}

.Failed {
  color: #9b0000;

  background-color: rgba(155, 0, 0, 0.07);
}

.InProgress,
.Pending {
  color: #838897;

  background-color: rgba(131, 136, 151, 0.07);
}
