.status {
  padding: 2px 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  border-radius: 4px;

  svg {
    flex-shrink: 0;
  }
}

.completed {
  color: #00ffc4;

  background-color: #00ffc40f;
}

.failed {
  color: #ff3757;

  background-color: #ff37571a;
}

.awaitingPayment {
  color: #fdd87c;

  background-color: #fdd87c3d;

  svg path {
    fill: #fdd87c;
  }
}

.bridging {
  color: #f6f6f6cc;

  background-color: #ffffff3d;

  svg path {
    fill: #f6f6f6cc;
  }
}
