.network {
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  align-items: center;
  gap: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  display: flex;
  gap: 16px;
}
