@keyframes toTop {
  from {
    transform: translateY(190%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes toBottom {
  from {
    transform: translateY(-190%);
  }

  to {
    transform: translateY(0);
  }
}

.network {
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  align-items: center;
  gap: 32px;

  &.amount {
    animation: toTop 0.25s ease;
  }

  &.expectedAmount {
    animation: toBottom 0.25s ease;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  display: flex;
  gap: 16px;
}
