.card {
  padding: 16px 24px;

  text-align: center;

  border-radius: 4px;
  background-color: #f5f6f8;

  svg {
    margin-bottom: 12px;

    width: 48px;
    height: 48px;
  }

  p {
    display: flex;
    flex-direction: column;
  }
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.text {
  color: #3e3e3e;
  font-size: 12px;
}
