.card {
  padding: 16px;

  display: flex;
  justify-content: space-between;

  border: 1px solid rgba(#e1e1e3, 0.6);
  border-radius: 6px;

  &.locked {
    background-color: rgba(#e1e1e3, 0.2);
  }
}

.balance {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  font-weight: 600;
  line-height: 16px;

  svg {
    width: 24px;
    height: 24px;
  }
}
