target/
.vscode
.idea
data/
/proof_storage
/block_finality_storage
/onchain_proof_storage_data
_obj
.binpath

cache/
out/
tmp/

ethereum/broadcast
ethereum/coverage
ethereum/lcov.info

.env
.DS_Store

.direnv/

# js
node_modules/
js/bridge-js/lib/
js/indexer/lib/
js/frontend/dist/
js/indexer/assets/
js/**/*.log
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
js/bridge-js/js-test/contracts/broadcast/
