target/
.vscode
.idea
data/
/proof_storage
/block_finality_storage
/onchain_proof_storage_data
_obj
.binpath

cache/
out/
tmp/

ethereum/broadcast

.env
.DS_Store

node_modules/
indexer/lib/
indexer/assets/
