.button {
  --padding: 4px 16px;

  @include lg {
    --padding: 4px;
  }

  @include md {
    display: none;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.address {
  @include lg {
    display: none;
  }
}
