body {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #13191e;

  overflow-x: hidden; // cuz of animated container
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// TODO: remove after @gear-js/vara-ui update
#alert-root {
  width: 100%;
  max-width: 480px;

  padding: 5px 22px;

  bottom: 0;
  right: 0;
}

#modal-root {
  > div > div {
    background-color: #0e1217;
    border: 1px solid #00ffc44d;
    border-radius: 16px;

    > header > div > h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #f6f6f6e5;
    }
  }
}

main {
  flex: 1;
  padding: 48px 0;

  // for full height containers
  display: flex;
  flex-direction: column;
}

// resets

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s;

  &:not(.linkButton) {
    // currently only logo
    svg path {
      transition: fill 0.25s;
    }

    &:hover {
      color: #00ffc4;

      svg path {
        fill: #00ffc4;
      }
    }
  }
}

button {
  padding: 0;
  text-align: left;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

button,
small {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
