.container,
.skeleton {
  flex-shrink: 0;
}

.container {
  display: flex;

  position: relative;

  svg {
    cursor: pointer;
    transition: 0.25s opacity;

    &:hover {
      opacity: 0.75;
    }
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -4px);

  padding: 8px 12px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 28px 0px #00000033;

  opacity: 0;
  pointer-events: none;
  transition: 0.25s opacity;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: calc(100% - 12px);
    height: calc(100% - 8px);
    margin: auto;

    background-image: linear-gradient(164.33deg, rgba(14, 211, 163, 0.1) 9.48%, rgba(242, 242, 242, 0.1) 31.6%);
    border-radius: inherit;
  }
}

.heading,
.subheading {
  white-space: nowrap;
}

.heading {
  font-weight: 500;
  opacity: 0.9;
}

.subheading {
  opacity: 0.75;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}
