.pair {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tx {
  width: calc(50% - 24px);

  display: flex;
  align-items: center;
  gap: 8px;

  > div {
    overflow: hidden;
  }
}

.icons {
  flex-shrink: 0;

  display: flex;
  align-items: flex-end;

  svg,
  span {
    border-radius: 50%;

    &:first-child {
      width: 32px;
      height: 32px;
    }

    &:last-child {
      width: 20px;
      height: 20px;

      margin-left: -10px;
      box-shadow: -1px 0 0px 0px #000;
    }
  }
}

.amount {
  font-weight: 600;
  line-height: 24px;
  color: #f6f6f6e5;
}

.address {
  font-size: 11px;
  line-height: 180%;
  color: #9cacb1;
}
