[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "prague"
solc = "0.8.30"
optimizer = true
extra_output_files = ["irOptimized"]
via_ir = true
bytecode_hash = "none"
cbor_metadata = false
revert_strings = "strip"
# Required for OpenZeppelin Foundry Upgrades https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
# Some warnings should be omitted (https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades/issues/115)
ignored_warnings_from = [
    "lib/openzeppelin-foundry-upgrades/src/internal/StringFinder.sol",
    "lib/openzeppelin-foundry-upgrades/src/internal/DefenderDeploy.sol",
]

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
hoodi = "${HOODI_RPC_URL}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
hoodi = { key = "${ETHERSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
