.container {
  padding: 8px;

  display: flex;
  align-items: center;
  gap: 16px;

  text-align: center;
  font-size: 12px;
  color: #fdd87c;

  background-color: #fdd87c1a;
  border: 1px solid #fdd87c1a;
  border-radius: 8px;

  svg path {
    fill: #fdd87c;
  }

  a {
    text-decoration: underline;
  }

  p {
    flex: 1;
  }
}
