.container {
  padding: 8px;

  display: flex;
  align-items: center;
  gap: 16px;

  text-align: center;
  font-size: 12px;
  color: #ff3757;

  background-color: #ff37571a;
  border: 1px solid #ff37571a;
  border-radius: 8px;

  svg path {
    fill: #ff3757;
  }

  a {
    text-decoration: underline;
  }

  p {
    flex: 1;
  }
}
