.sections {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section {
  padding: 24px 24px 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 16px;
  border: 1px solid #e8e8ef;

  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;
  gap: 16px;

  &:first-child {
    padding-bottom: 20px;

    border-bottom: 1px solid #e8e8ef;
  }
}

.wallet {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  gap: 16px;

  overflow: hidden;
}

.balance {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: rgba(#010500, 0.7);

  svg {
    flex-shrink: 0;
  }
}

.amount {
  display: flex;
  gap: 8px;

  .select {
    flex-shrink: 0;

    // TODO: temp fix for https://github.com/gear-tech/gear-js/issues/1705
    // feel free to remove after @gear-js/vara-ui is updated
    select {
      padding-right: 32px;
    }
  }
}

.destination {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  gap: 16px;

  gap: 16px;
}

.submitContainer {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 8px;
}
