.footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.prop {
  display: flex;
  justify-content: space-between;
}

.value {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}
