.balance {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  font-weight: 600;
  line-height: 16px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    padding: 16px;

    border: 1px solid rgba(#e1e1e3, 0.6);
    border-radius: 6px;
  }
}
