.card {
  display: flex;

  padding: 0;

  @include md {
    flex-direction: column;
  }
}

.info {
  flex: 1;

  padding: 20px 24px;

  display: grid;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1.25fr);
  align-items: center;
  gap: 16px;

  position: relative;
  overflow: hidden;

  @include md {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';

    position: absolute;
    right: -40%;
    bottom: -100%;
    z-index: -1;

    width: 100%;
    height: 200%;

    background-image: radial-gradient(50% 50% at 50% 50%, rgba(#00ffc4, 0.23) 0%, rgba(24, 24, 27, 0) 100%);

    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  &:hover:not(.skeleton) {
    &::before {
      opacity: 1;
    }
  }
}

.actions {
  margin: 20px 0;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  border-left: 1px solid rgba(#fff, 0.1);

  @include md {
    flex-direction: row;

    border-left: none;
    border-top: 1px solid rgba(#fff, 0.1);

    margin: 0 24px;
    padding: 20px 0;
  }
}

.date {
  color: #f6f6f6e5;
}

.hash {
  color: #f6f6f6e5;
  word-break: break-all;
}
