.card {
  display: grid;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 1.25fr) minmax(0, 3fr) minmax(0, 1.25fr);
  align-items: center;
  gap: 16px;

  @include md {
    display: flex;
    flex-direction: column;
  }
}

.date {
  color: #f6f6f6e5;

  &Container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.transactionHash {
  display: flex;
  align-items: center;
  gap: 8px;

  .link {
    color: #f6f6f6e5;
    text-decoration: underline;
    word-break: break-all;

    transition: 0.25s color;

    &:hover {
      color: #00ffc4;
    }
  }
}
