.container {
  position: relative;
}

.select {
  appearance: none;
  font-family: inherit;
  background-color: transparent;
  border: none;
  outline: none;

  padding-right: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  transition: color 0.25s;

  option {
    color: #9cacb1;

    background-color: #14191f;
  }

  &:not(:disabled):not(.loading) {
    cursor: pointer;
  }

  &:hover {
    color: #00ffc4;

    + .icon path {
      fill: #00ffc4;
    }
  }
}

.icon {
  pointer-events: none;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  path {
    transition: fill 0.25s;
  }
}
