.root {
  display: none;

  @include sm {
    display: unset;
  }
}

.trigger {
  display: flex;
  align-items: center;
  gap: 8px;

  // same as active link in desktop menu
  padding: 6px 0;
  font-weight: 600;
  color: #f6f6f6e5;

  &:hover {
    color: #00ffc4;
  }
}

.menu {
  display: none;

  @include sm {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.content,
.popup {
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }
}

.content {
  padding: 4px;

  background-color: #11161a;
  border: 1px solid #00ffc466;
}

.popup {
  position: relative;
  z-index: 2; // because swap form token container has z-index 1
}

.link {
  display: flex;
  gap: 8px;

  padding-block: 8px;
  padding-left: 16px;
  padding-right: 32px;

  font-size: 14px;
  line-height: 1;

  border-radius: 4px;

  transition:
    color 0.25s,
    background-color 0.25s;

  &.active {
    color: #000;

    background-color: #00ffc4;
  }

  &:hover {
    color: #000 !important; // overriding global styles
  }
}
