.date {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  color: #838897;
  line-height: 141.667%;
  letter-spacing: -0.5px;
  text-align: center;

  &.compact {
    font-size: 12px;
  }
}
