@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

.button {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 8px !important; // overriding @gear-js/vara-ui

  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  z-index: 1; // to be above the swap form during it's animation

  // using animation instead of transition,
  // cuz swap form is rendering different components based on network
  animation: rotate 0.25s ease-in-out;
}
