.container {
  display: flex;
  gap: 16px;

  @include sm {
    flex-direction: column;
    align-items: center;
  }
}

.skeleton {
  width: 9rem;
}

.container,
.wallet,
.skeleton {
  @include sm {
    width: 100%;

    * {
      width: 100%;
    }
  }
}

.wallet {
  display: flex;
  gap: 8px;
}

.balance {
  @include sm {
    justify-content: center;
  }
}
