.container {
  display: flex;
  gap: 16px;

  @include sm {
    flex-direction: column;
    align-items: center;
  }
}

.wallet {
  display: flex;
  gap: 8px;
}

.balance {
  @include sm {
    justify-content: center;
  }
}

.container,
.wallet,
.balance,
.connectButton {
  @include sm {
    width: 100%;
  }
}
