.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.heading {
  margin: 32px 0 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

// TODO: remove assertion after @gear-js/vara-ui heading is updated to accept ReactNode.
// fast fix for now, cuz major font update was made without a fallback,
:global(#modal-root) {
  > div > div > header > h3 {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
