.card {
  padding: 24px 24px 32px;

  background-color: #0e1217;
  border: 1px solid #00ffc433;
  border-radius: 16px;
}

.header,
.lockedHeading {
  font-weight: 600;
  line-height: 24px;
  color: #f6f6f6e5;
}

.header {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.network {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;

  svg {
    width: 24px;
    height: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lockedHeading {
  margin: 32px 0 16px;
}
