.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.warning {
  padding: 8px;

  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 11px;

  background-color: rgba(#fff, 0.1);
  border: 1px solid #fff;
  border-radius: 8px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  svg {
    flex-shrink: 0;

    path {
      fill: #fff;
    }
  }
}
