.accordion {
  padding: 0;

  display: grid;
  grid-template-rows: min-content 0fr;
  gap: 0;

  transition: all 0.25s;

  &:hover {
    border-color: #00ffc433;
  }

  svg {
    flex-shrink: 0;

    transition: all 0.25s;

    path {
      transition: all 0.25s;
    }
  }
}

.open {
  padding-bottom: 24px;

  grid-template-rows: min-content 1fr;
  gap: 4px;

  border-color: #00ffc433;

  svg {
    transform: rotate(180deg);
  }

  .text {
    opacity: 1;

    transition: opacity 0.5s;
  }
}

.button {
  width: 100%;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  color: #f6f6f6e5;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;

  transition: color 0.25s;

  &:hover {
    color: #00ffc4;

    svg path {
      stroke: #00ffc4;
      stroke-opacity: 1;
    }
  }
}

.text {
  opacity: 0;
  overflow: hidden;

  padding: 0 24px;

  color: #f6f6f6cc;
  font-size: 14px;
  line-height: 20px;

  transition: opacity 0.1s;
}
