.footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.prop {
  display: grid;
  grid-template-columns: 2.3fr 7.7fr;
  gap: 16px;

  font-size: 14px;
  line-height: 20px;
}

.key {
  color: #9cacb1;
  white-space: nowrap;

  svg {
    margin-right: 8px;
  }
}

.value {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;

  color: #f6f6f6e5;
}
