.header {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transactionHash {
  display: flex;
  align-items: center;
  gap: 8px;

  line-height: 140%;
  color: #f6f6f6e5;

  a {
    max-width: 110px;

    text-decoration: underline;
  }
}

.date {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #9cacb1;
}

.pairs {
  margin-bottom: 24px;
  padding-bottom: 24px;

  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  align-items: center;
  gap: 20px 24px;

  border-bottom: 1px solid #00ffc433;

  &.loading {
    margin-bottom: 20px;
    padding-bottom: 0;

    border-bottom: none;
  }
}

.tx,
.address {
  display: flex;
  align-items: center;

  gap: 10px;
}

.address {
  overflow: hidden;
}

.amount,
.network,
.address .value {
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

.label {
  color: #f6f6f6cc;
}

.network {
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.arrowSvg {
  path {
    fill: #fff;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
