@keyframes flick {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes loadingDots {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.container {
  margin-bottom: 24px;

  color: #9cacb1;
  font-weight: 600;
  line-height: 24px;

  &.loading {
    .text::after {
      content: '';
      animation: loadingDots 3s steps(3, end) infinite;
    }

    .bar::before {
      background-image: linear-gradient(90deg, transparent, rgba(#000, 0.5), transparent);
      background-size: 200% 100%;

      animation: flick 1.5s infinite;
    }
  }

  &.error {
    .bar::before {
      background-color: #ff3757;
    }
  }
}

.bar {
  height: 8px;
  margin-top: 8px;

  background-color: #0e1217;
  border-radius: 12px;

  position: relative;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: var(--width);
    height: 100%;

    background-color: rgba(#00ffc4, 1);
    border-radius: inherit;
    transition: width 0.5s ease;
  }
}
