.summary {
  margin-bottom: 24px;
}

.label {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #f6f6f6e5;
}

.value {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
}
