.card {
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff03;
  border: 1px solid #ffffff0a;
  border-radius: 6px;

  &.locked {
    background-color: #282c30bf;
  }
}

.balance {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
  line-height: 24px;
  color: #f6f6f6e5;

  svg {
    width: 24px;
    height: 24px;
  }
}
