.popup {
  padding: 10px 16px;

  font-size: 14px;
  line-height: 20px;
  color: #f6f6f6e5;

  background-color: #262628;
  border: 1px solid #ffffff0a;
  border-radius: 4px;

  transition: opacity 0.25s;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.positioner {
  z-index: 11; // to be above modal
}
