.balance {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  white-space: nowrap;
  color: #010500;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 12px;

  button {
    padding: 1px 8px;

    color: #56b99f;

    background-color: rgba(#00ffc4, 0.1);
  }
}

.heading {
  line-height: 24px;
}

.value {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
