.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 2px;

  letter-spacing: 0.15px;
  white-space: nowrap;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 12px;

  button {
    color: #0ed3a3;
  }
}

.heading {
  color: #313635;
}
