body {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #13191e;

  overflow-x: hidden; // cuz of animated container
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 48px 0;

  // for full height containers
  display: flex;
  flex-direction: column;
}

// resets

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s;

  &:not(.linkButton) {
    // currently only logo
    svg path {
      transition: fill 0.25s;
    }

    &:hover {
      color: #00ffc4;

      svg path {
        fill: #00ffc4;
      }
    }
  }
}

button {
  padding: 0;
  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

button,
small {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
