.pair {
  display: flex;
  align-items: center;
  gap: 16px;

  @include breakpoint(400px) {
    flex-direction: column;
    gap: 8px;
  }
}

.tx {
  width: calc(50% - 24px);

  display: flex;
  align-items: center;
  gap: 8px;

  @include md {
    width: 100%;
  }

  > div {
    overflow: hidden;
  }
}

.arrow {
  flex-shrink: 0;
}

.amount {
  font-weight: 600;
  line-height: 24px;
  color: #f6f6f6e5;
}

.address {
  font-size: 11px;
  line-height: 180%;
  word-break: break-all;
  color: #9cacb1;
}
