.addressButton {
  display: flex;
  align-items: center;
  gap: 4px;

  position: absolute;
  top: -4px;
  right: 0;

  padding: 0 8px;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #56b99f;

  background-color: rgba(#00ffc4, 0.1);
  border-radius: 4px;

  transition: opacity 0.25s;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.25;
  }

  svg {
    width: 12px;
    height: 12px;
  }
}
