.filters {
  margin-bottom: 16px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  gap: 24px;

  @include sm {
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}

.counter {
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 140%;
  color: #828b8e;
}

.switch > span:nth-child(2) {
  --border-color: rgba(255, 255, 255, 0.2) !important; // overriding vara ui
}
