.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading,
.subheading {
  text-align: center;
}

.heading {
  margin-bottom: 16px;

  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}

.subheading {
  max-width: 465px;
  margin-bottom: 64px;

  font-size: 18px;
  line-height: 130%;
}

.questions {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
