.details {
  padding: 12px 24px;

  display: grid;
  grid-template-rows: min-content 0fr;
  gap: 0;

  transition:
    grid-template-rows 0.25s,
    gap 0.25s;

  background-color: #0e1217;
  border-radius: 12px;
}

.open {
  grid-template-rows: min-content 1fr;
  gap: 12px;

  .icon {
    transform: rotate(180deg);
  }

  .body {
    opacity: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  line-height: 20px;
  color: #f6f6f6cc;

  transition: color 0.25s;

  &:hover {
    color: #00ffc4;

    .icon path {
      fill: #00ffc4;
    }
  }
}

.icon {
  transition: transform 0.25s;

  path {
    transition: fill 0.25s;
  }
}

.body {
  overflow: hidden;
  opacity: 0;

  transition: opacity 0.1s;
}
