.wallet {
  padding: 14px 16px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  letter-spacing: 0.42px;

  border-radius: 6px;
  background-image: linear-gradient(0deg, #f5f6f8 0%, #f5f6f8 100%), linear-gradient(270deg, #cfcfcf 0%, #cfcfcf 100%);

  overflow: hidden;

  img {
    width: 16px;
    height: 16px;
  }

  svg {
    flex-shrink: 0;
  }
}
