.button {
  padding: 11px 16px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  letter-spacing: 0.42px;

  border-radius: 6px;
  background-color: #f5f6f8;
  transition: background-color 0.25s;

  overflow: hidden;

  img {
    width: 16px;
    height: 16px;
  }

  svg {
    flex-shrink: 0;
  }

  &:hover {
    background-color: #d4d4d4;
  }
}
