.wallet {
  display: flex;
  align-items: center;
  gap: 24px;
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;

  .text {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  .value {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
  }

  .unit {
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    line-height: 100%;
  }
}
