name: Deploy Frontend to k8s

on:
  push:
    branches: ['main']
    paths:
      - js/frontend/**
  workflow_dispatch: {}

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
  KUBECTL_VERSION: 'v1.22.17'
  KUBE_NAMESPACE: zk-bridge
  KUBE_DEPLOYMENT_PREFIX: zk-bridge
  REGISTRY: ghcr.io/${{ github.repository }}

jobs:
  prepair:
    if: github.ref == 'refs/heads/main' || (github.ref == 'refs/heads/release' && github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.image.outputs.image_name }}
      deployment_name: ${{ steps.set-deploy.outputs.deployment_name }}
      environment_name: ${{ steps.set-deploy.outputs.environment_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get short SHA
        id: sha
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Determine environment & deployment
        id: set-deploy
        run: |
          branch=${GITHUB_REF#refs/heads/}
          if [ "$branch" = "main" ]; then
            environment_name="stg"
            deployment_name="${KUBE_DEPLOYMENT_PREFIX}-stg"
          else
            environment_name="production"
            deployment_name="${KUBE_DEPLOYMENT_PREFIX}-release"
          fi
          echo "deployment_name=$deployment_name" >> $GITHUB_OUTPUT
          echo "environment_name=$environment_name" >> $GITHUB_OUTPUT
      - name: Set IMAGE_NAME
        id: image
        run: |
          branch=${GITHUB_REF#refs/heads/}
          sha=${{ env.sha_short }}
          if [ "$branch" = "main" ]; then
            image_name="${REGISTRY}:${branch}-${sha}"
          else
            image_name="${REGISTRY}:release-${sha}"
          fi
          echo "image_name=$image_name" >> $GITHUB_OUTPUT
          
  build-and-push-image:
    needs: [prepair]
    runs-on: ubuntu-latest
    environment: ${{ needs.prepair.outputs.environment_name }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          file: js/frontend/Dockerfile
          tags: ${{ needs.prepair.outputs.image_name }}
          push: true
          build-args: |
            VITE_VARA_NODE_ADDRESSES=${{ secrets.VITE_VARA_NODE_ADDRESSES }}
            VITE_ETH_NODE_ADDRESSES=${{ secrets.VITE_ETH_NODE_ADDRESSES }}
            VITE_ETH_CHAIN_IDS=${{ secrets.VITE_ETH_CHAIN_IDS }}
            VITE_WALLET_CONNECT_PROJECT_ID=${{ secrets.VITE_WALLET_CONNECT_PROJECT_ID }}
            VITE_INDEXER_ADDRESSES=${{ secrets.VITE_INDEXER_ADDRESSES }}
            VITE_BRIDGING_PAYMENT_CONTRACT_ADDRESSES=${{ secrets.VITE_BRIDGING_PAYMENT_CONTRACT_ADDRESSES }}
            VITE_VFT_MANAGER_CONTRACT_ADDRESSES=${{ secrets.VITE_VFT_MANAGER_CONTRACT_ADDRESSES }}
            VITE_ETH_BRIDGING_PAYMENT_CONTRACT_ADDRESSES=${{ secrets.VITE_ETH_BRIDGING_PAYMENT_CONTRACT_ADDRESSES }}
            VITE_ERC20_MANAGER_CONTRACT_ADDRESSES=${{ secrets.VITE_ERC20_MANAGER_CONTRACT_ADDRESSES }}
            VITE_TOKEN_PRICE_API_URL=${{ secrets.VITE_TOKEN_PRICE_API_URL }}
            VITE_FAUCET_API_URL=${{ secrets.VITE_FAUCET_API_URL }}
            VITE_TURNSTILE_SITEKEY=${{ secrets.VITE_TURNSTILE_SITEKEY }}
            VITE_VARA_ARCHIVE_NODE_ADDRESSES=${{ secrets.VITE_VARA_ARCHIVE_NODE_ADDRESSES }}
            VITE_ETH_BEACON_NODE_ADDRESSES=${{ secrets.VITE_ETH_BEACON_NODE_ADDRESSES }}
            VITE_ETH_MESSAGE_QUEUE_CONTRACT_ADDRESSES=${{ secrets.VITE_ETH_MESSAGE_QUEUE_CONTRACT_ADDRESSES }}
            VITE_SENTRY_DSN=${{ secrets.VITE_SENTRY_DSN }}
            VITE_GTM_ID=${{ secrets.VITE_GTM_ID }}
            
  deploy-to-k8s:
    needs: [prepair, build-and-push-image]
    runs-on: ubuntu-latest
    environment: ${{ needs.prepair.outputs.environment_name }}
    steps:
      - name: Deploy to Kubernetes (update image)
        uses: kodermax/kubectl-aws-eks@main
        with:
          args: -n ${{ env.KUBE_NAMESPACE }} set image deployment/${{ needs.prepair.outputs.deployment_name }} ${{ needs.prepair.outputs.deployment_name }}=${{ needs.prepair.outputs.image_name }}

      - name: Restart deployment
        uses: kodermax/kubectl-aws-eks@main
        with:
          args: -n ${{ env.KUBE_NAMESPACE }} rollout restart deployment/${{ needs.prepair.outputs.deployment_name }}
          
      - name: Check deployment status
        uses: kodermax/kubectl-aws-eks@main
        with:
          args: -n ${{ env.KUBE_NAMESPACE }} rollout status deployment/${{ needs.prepair.outputs.deployment_name }} --timeout=120s
