.container {
  display: flex;
  justify-content: center;
  gap: 32px;

  @include md {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  > * {
    width: 100%;
    max-width: 490px;
  }
}
